<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Login | Sans Faim{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="mb-4 mb-md-5">
                            <h1 class="h2 mb-3 text-center">Login Sans Faim</h1>
                        </div>

                        <div class="card shadow text-center">
                            <div class="card-body d-flex justify-content-center py-4">
                                <form method="post">

                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    <div class="mb-3">
                                        <label class="mb-1" for="inputEmail">Email</label>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control text-center" autocomplete="email" required autofocus>
                                    </div>

                                    <div class="mb-4">
                                        <label class="mb-1" for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control text-center" autocomplete="current-password" required>
                                    </div>

                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >

                                    {#
                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
                                    #}


                                    <div class="d-flex justify-content-center mb-3">
                                        <button type="submit" class="readmore">Se connecter</button> 
                                    </div>

                                    <div>
                                        <a href="{{ path('app_forgot_password_request') }}"><small>Mot de passe oublié ?</small></a>
                                    </div>
                                </form>
                            
                            </div>
                        
                        </div>
                    

                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row justify-content-center">
                {% if app.user %}
                    <div class="text-center">
                        <p class="mb-0">Vous êtes connecté en tant que : <span class="fw-bold">{{ app.user.username }}</span><a class="fst-italic" href="{{ path('app_logout') }}"> (Déconnexion)</a></p>
                    </div>
                {% endif %}    
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
