{% extends 'base.html.twig' %}

{% block title %}Accueil | Sans Faim{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Display Products ======= -->
    <section class="section site-portfolio">
    	<div class="container">

			<div class="row mb-5 align-items-center">
				<div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
					<h1 class="h2">Nos Produits</h1>
					<p class="mb-0">Découvrez notre gamme de produits apéritifs</p>
				</div>
				<div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
					<div id="filters" class="filters">
						<a href="#" data-filter="*" class="active">Tous</a>
						<a href="#" data-filter=".saison">Saison</a>
						{% for category in categories %}
							<a href="#" data-filter=".{{ category.name }}">{{ category.name | capitalize}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id="portfolio-grid" class="row justify-content-center no-gutter" data-aos="fade-up" data-aos-delay="200">
			{% for product in products %}
				<div class="item {% if product.isSeason == true %}saison{% endif %} {{ product.category.name }} col-sm-6 col-md-3 col-lg-2 mb-3">
					<!-- URL ifSeason : slug = saison, else slug = category.slug -->
					{% if product.isSeason == true %}
						<a href="{{ path("product_details", {slug: product.slug, category_slug: 'saison'}) }}" class="item-wrap fancybox">
					{% else %}
						<a href="{{ path("product_details", {slug: product.slug, category_slug: product.category.slug}) }}" class="item-wrap fancybox">
					{% endif %}
							<div class="work-info">
								<h3>{{ product.name | capitalize }}</h3>
								{% if product.isSeason == true %}
									<span>Saison</span>
								{% else %}
									<span>{{ product.category.name }}</span>
								{% endif %}
							</div>
							<img class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile') }}">
						</a>
				</div>
			{% endfor %}

  		</div>
	</section><!-- End Display Products -->

    <!-- ======= Retailers Section ======= -->
    <section class="section">
		<div class="container">
			<div class="row justify-content-center text-center mb-4">
				<div class="col-7 col-md-5">
					<a class="text-reset" href="{{ path("find_us") }}">
						<div class="home-link">
							<h2 class="h3 heading">Nous trouver</h2>
							<p class="mb-0">Découvrez nos partenaires chez qui vous pouvez acheter et déguster nos produits</p>
						</div>
					</a>
				</div>
			</div>

			<div class="row">
				{% for retailer in retailers %}
					<div class="col-4 col-sm-4 col-md-2 pb-2">
						<a href="{{ path("retailer_page", {id: retailer.id})  }}" target="_blank" class="client-logo"><img src="{{ vich_uploader_asset(retailer, 'imageFile') }}" alt="Image" class="img-fluid"></a>
					</div>
				{% endfor %}
			</div>
		</div>
    </section>
    <!-- End Retailers Section -->

    <!-- ======= Contact Section ======= -->
    <section class="section services">
		<div class="container">
			<div class="row justify-content-center text-center mb-4">
				<div class="col-7 col-md-5">
					<a class="text-reset" href="{{ path("contact") }}">
					<div class="home-link">
						<h2 class="h3 heading">Contact</h2>
						<p class="mb-0">Nos produits vous intéressent ? Découvrez notre offre dédiée aux professionnels</p>
					</div>
					</a>
				</div>
			</div>
		</div>
    </section>
    <!-- End Contact Section -->

    <!-- ======= Comments Section ======= -->
    <section class="section pt-0">
		<div class="container">

			{% import "@macros/_starRating.html.twig" as starRating %}

			<div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
				<div class="swiper-wrapper">
					{% for comment in comments %}	
						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="testimonial">
									<blockquote>
										<p>{{ comment.comment }}</p>
									</blockquote>
									<p>&mdash; {{ comment.nickname }}</p>
									<div>{{ starRating.displayStarRatingHome(comment.rating) }}</div>
								</div>
							</div>
						</div><!-- End comment item -->
					{% endfor %}
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>
    </section>
    <!-- End Comments Section -->

</main><!-- End #main -->
{% endblock %}
