<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Email de réinitialisation envoyé | Sans Faim{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="mb-3 mb-md-4">
                        <h1 class="h2">Réinitialisation du mot de passe</h1>
                    </div>
                    <p class="mb-2 justify-text">
                    Un mail contenant un lien pour réinitialiser votre mot de passe vient d'être envoyé. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p class="mb-0 justify-text">Si vous n'avez pas reçu de mail, pensez à vérifier vos spams, sinon, <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
                </div>
            </div>
        </section>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
