<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} Réinitialisation du mot de passe | Sans Faim{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6">
                        <div class="mb-4 mb-md-5">
                            <h1 class="h2 mb-3 text-center">Réinitialisation du mot de passe</h1>
                        </div>

                        <div class="card shadow text-center">
                            <div class="card-body d-flex justify-content-center p-4">

                                {% for flashError in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}

                                {{ form_start(requestForm) }}
                                    {{ form_errors(requestForm) }}

                                    <div class="form-group mb-3">
                                        {{ form_label(requestForm.email) }}
                                        {{ form_widget(requestForm.email) }}	
                                    </div>

                                    <div class="mb-3">
                                        <small>
                                            Entrez votre adresse mail et vous recevrez un lien pour renouveler votre mot de passe.
                                        </small>
                                    </div>

                                    <button class="readmore">Envoyer</button>
                                {{ form_end(requestForm) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>