{% extends "base.html.twig" %}

{% block title %}Commentaires | Sans Faim{% endblock %}

{% block body %}

{% set avg = avgRating.0.ratingAvg %}
{% set total = avgRating.0.totalRates %}

<main class="main">
    <!-- ======= Rating Form Section ======= -->
	{% include "rating/_form.html.twig" %}

    <section class="section">
        
        <div class="container">
            <div class="row">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 col-xl-9">
                        <div class="d-flex justify-content-between">
                            {% if entity.name is defined %}
                                <h1 class="h3 mb-5">Avis pour le produit : <span class="fst-italic">{{ entity.name | capitalize }}</span></h1>
                            {% elseif entity.title is defined %}
                                <h1 class="h3 mb-4">Avis pour la recette : <span class="fst-italic">{{ entity.title | capitalize }}</span></h1>
                                {# <div class="mb-2 text-end">
                                    <a href='{{ referer }}'>Retour à la page de la recette</a>
                                </div> #}
                            {% endif %}

                            <!-- ======= Display Star Rating Average ======= -->
                            {% import "@macros/_starRating.html.twig" as starRating %}
                            <div class= "d-flex flex-wrap mb-3 mb-md-4">
                                <!-- Display if NO Ratings -->
                                {% if avg == 0 %}
                                    <p class="me-4 mb-0 consent fst-italic align-self-center">(Pas encore de note)</p>
                                <!-- Display if AT LEAST 1 Rating -->
                                {% else %}
                                    {{ starRating.displayStarRating(avg, total) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <!-- Modal Link to Rating Form -->
                            <button class="btn mb-0 readmore" data-bs-toggle="modal" data-bs-target="#ratingModal">Laisser un avis</button>
                            <a href='{{ referer }}' class="align-self-end">
                                {% if entity.name is defined %}
                                    Retour à la page du produit
                                {% elseif entity.title is defined %}
                                    Retour à la page de la recette
                                {% endif %}
                            </a>
                        </div>

                        {% if comments is empty %}
                            <div>
                                <p>Il n'y a pas d'avis pour ce produit.</p>
                                <a href='{{ referer }}' class="mb-0">Retour à la page précédente</a>
                            </div>
                        {% else %}
                            {% for comment in comments %}		
                                <div class="card p-3 mb-2 bg-light">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div class="d-flex flex-row align-items-center">
                                            <p class="mb-0 fw-bold">{{ comment.nickname }}</p> 
                                        </div>
                                        <p class="mb-0 fst-italic">{{ comment.createdAt|format_datetime(pattern="dd/MM/YYYY à HH:mm") }}</p>
                                    </div>
                                    <p class="mb-2">{{ comment.comment }}</p>
                                    <div>	
                                        {% for i in range(1, 5) %}
                                            {% if i <= comment.rating %}
                                                <i class="bi bi-star-fill text-warning"></i>
                                            {% elseif 0.09 <= i - comment.rating and  i - comment.rating <= 0.91 %}
                                                <i class="bi bi-star-half text-warning"></i>
                                            {% else %}
                                                <i class="bi bi-star"></i>
                                            {% endif %}	
                                        {% endfor %}
                                    </div>
                                </div>
                                {% for reply in comment.commentReplies %}   
                                    <div class="card p-3 mb-2 ms-5 reply-comment">
                                        <p class="mb-2">{{ reply.comment }}</p>
                                        <div class="d-flex justify-content-between align-items-center mb-2">                 
                                            <p class="mb-0 fw-bold">L'équipe de Sans Faim</p> 
                                            <p class="mb-0 fst-italic">{{ reply.createdAt|format_datetime(pattern="dd/MM/YYYY à HH:mm") }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('starRating') }}
{% endblock %}