/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	padding: 0 0 4rem 0;
	a {
		color: #000;
	}
	a:hover {
		color: #5e7991;
	}
}


.social {
	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #f8f9fa;
		position: relative;
		text-align: center;
		color: #0d1e2d;
		span {
			display: inline-block;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			color: #000;
		}
	}
}
