/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: $font-default;
  color: $default;
}

a {
  color: $links;
  text-decoration: none;
}

a:hover  {
  color: $links-hover;
}

.fake-link {
	color: $links;
	cursor: pointer;
}

.fake-link:hover {
	color: $links-hover;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: $font-primary;
}

.justify-text {
	text-align: justify;
}

.section {
  padding: 3rem 0;
}

// lien video responsive
.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
  }
.iframe-container iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

// @media (min-width: 811px) {
// 	.desktop {
// 		display: block;
// 	}

// 	.mobile {
// 		display: none;
// 	}
// }

// @media (max-width: 810px) {
// 	.desktop {
// 		display: none;
// 	}

// 	.mobile {
// 		display: block;
// 	}
// }

// @media (max-width: 991px) {
// 	.section {
// 	  padding: 5rem 0;
// 	}
//   }

// @media (max-width: 767px) {
//   .section {
//     padding: 3rem 0;
//   }
// }

@media (max-width: 480px) {
  .section {
    padding: 2rem 0;
  }
}

// Accordion
.accordion-button:not(.collapsed) {
	color: black;
	background-color: #F8F9FA;
}

.accordion-button:hover {
	background-color: #F8F9FA;
}

.accordion-button:focus {
	border-color: $primary-light;
}

// Ul List Separator
.inline-list-separator {
	padding: 0;
	margin: 0;
	display: inline;
	list-style-type: none;
}

.inline-list-separator li {
	display: inline;
}

.inline-list-separator li::after {
	content: ", ";
}

.inline-list-separator li:last-of-type::after {
	content: ".";
}

// Tables
.border-top-hidden {
	border-top: hidden;
}

// Homepage changes
.home-link {
	padding: 1rem;
	border-radius: 5px;
	&:hover {
		background-color: #F8F9FA;
	}
}

// Portfolio
.filters {
	a {
  text-decoration: none;
		color: #000;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 0;
				height: 1px;
				background-color: #000;
			}
		}
		&.active {
			color: #000;
			&:before {
				content: "";
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 0;
				height: 1px;
				background-color: #000;
			}
		}
	}
	
}

.item { 
  border: none;
  margin-bottom: 30px;
  .item-wrap {
  	display: block;
  	position: relative;
  	overflow: hidden;
  	&:after {
  		z-index: 2;
			position: absolute;
			content: "";
			top: 0; left: 0; right: 0; bottom: 0;
			background: rgba(#000, .4);
			visibility: hidden;
			opacity: 0;
			transition: .3s all ease-in-out;
  	}
  	img {
			transition: .3s transform ease;
			transform: scale(1.0);
  	}
  	> .work-info {
  		position: absolute;
  		top: 50%;
  		width: 100%;
  		text-align: center;
  		z-index: 3;
  		transform: translateY(-50%);
			color: #fff;
			opacity: 0;
			visibility: hidden;
			margin-top: 20px;
			transition: .3s all ease;
			h3 {
				font-size: 20px;
				margin-bottom: 0;
			}
			span {
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: .2rem;
			}
  	}
  	&:hover {
  		text-decoration: none;
			img {
				transform: scale(1.05);
			}
  		&:after {
  			opacity: 1;
  			visibility: visible;
  		}
  		.work-info {
  			margin-top: 0px;
  			opacity: 1;
  			visibility: visible;
  		}
  	}
  }
}

// Testimonials 
.testimonial-wrap {
	padding: 50px 50px 80px 50px;
	background: darken(#f8f9fa, 4%);
	.testimonial {
		text-align: center;
		max-width: 500px;
		margin: 0 auto;
		img {
			border-radius: 50%;
			width: 120px;
			margin: 0 auto 30px auto;
		}
		blockquote {
			p {
				font-size: 20px;
			}
		}
	}
}

.h3 {
	font-size: 20px;
}
.h4 {
	font-size: 16px;
}
.heading {
	font-size: 28px;
}
.readmore {
	display: inline-block;
	border: 1px solid #000;
	padding: 10px 15px;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	transition: .2s all ease;
	font-weight: 700;
	&:active, &:focus, &:hover {
		outline: none;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		background: #000;
	}
}

.testimonials-slider  {
	.swiper-pagination {
    margin-top: -60px;
    position: relative;
  
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: rgba($default, .3);
      opacity: 1;
    }
  
    .swiper-pagination-bullet-active {
      background-color: rgba($default, .6);
    }
  }
}

.sticky-content {
	position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
}

.list-line {
	li {
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: .7rem;
			width: 10px;
			height: 2px;
			background: #000;
		}
	}
}

.form-control {
	border-radius: 0;
	background: #f8f9fa;
	border: 1px solid transparent;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
	&:hover {

	}
	&:active, &:focus {
		background: darken(#f8f9fa, 3%);
		outline: none;
		box-shadow: none;
		border: 1px solid transparent;
	}
}

.custom-progress {
	height: 7px;
	border-radius: 0;
	.progress-bar {
		background: #000;
	}
}

/* Services */

.services {
  i {
    font-size: 40px;
  }

  h4 {
    padding-top: 10px;
  }
}

/* Rating Form *//* Rating Form */

.consent {
	font-size: 12px;
	padding-top: 0.2rem;
}

.rating {
	// display: none;
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0;
}

.stars {
	i {
		cursor: pointer;
	}
}

.rating-parent-bloc {
	position: relative;
}

/* Recipe Form */

.border-top-none {
	border-top: 0 none;
}

/* Comments */

.reply-comment {
	font-size: 15px;
}

/* Contact Form */

.php-email-form {

  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    & br + br {
      margin-top: 25px;
    }
  }
  
  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;

    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      animation: animate-loading 1s linear infinite;
    }

  }

}

@keyframes animate-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
