/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* Containers */

// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
	width: 100%;
	padding-right: $padding-x;
	padding-left: $padding-x;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;

	@media (min-width: 768px) {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	@media (min-width: 1200px) {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	@media (min-width: 1400px) {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	@media (min-width: 1600px) {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	@media (min-width: 1700px) {
		padding-right: 7rem;
		padding-left: 7rem;
	}

	@media (min-width: 1800px) {
		padding-right: 9rem;
		padding-left: 9rem;
	}

	@media (min-width: 1800px) {
		padding-right: 11rem;
		padding-left: 11rem;
	}
}
	 
// Usage
.nav-container {
@include make-container();
}
  

/* Custom Navmenu */

.custom-navmenu {
	background: $secondary-dark;
	.custom-menu {
		&, li {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li {
			margin-bottom: 0;
			font-size: 20px;
			a {
				color: #fff;
				padding: 10px 0!important;
				&:hover {
					text-decoration: none;
				}
			}
			&.active {
				a {
					text-decoration: underline;
				}
			}
		}

	}
	h3 {
		font-size: 20px;
		color: #fff;
	}

	p {
		color: rgba(#fff, .6);
	}
	a {
		color: rgba(#fff, .7);
		&:hover {
			color: #fff;
		}
	}

}

/* Custom Navbar */

.custom-navbar {
	padding-top: 50px;
	width: 100%;
// 	> .container {
// 		@media (max-width: 780px) {
// 			padding-right: 0;
// 			padding-left: 0;
// 		}
//   }
  
  .navbar-brand {
    font-size: 1.7rem;
  }
}

/* Burger */
.burger {
	width: 28px;
	height: 32px;
	cursor: pointer;
	position: relative;
}
.burger:before, .burger span, .burger:after {
	width: 100%;
	height: 2px;
	display: block;
	background: #000;
	border-radius: 2px;
	position: absolute;
	opacity: 1;
}
.burger:before, .burger:after {
    transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	-webkit-transition: top .35s cubic-bezier(.23,1,.32,1),-webkit-transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	content: "";
}
.burger:before {
	top: 4px;
}
.burger span {
	top: 15px;
}
.burger:after {
	top: 26px;
}
/* Hover */
.burger:hover:before {
	top: 7px;
}
.burger:hover:after {
	top: 23px;
}

/* Click */
.burger.active span {
	opacity: 0;
}
.burger.active:before, .burger.active:after {
	top: 40%;
}
.burger.active:before {
   transform: rotate(45deg);  
}
.burger.active:after {
    transform: rotate(-45deg);  
}
.burger:focus {
	outline: none;
}
