{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

<!-- ======= Set Controller variable ======= -->
{% if entity == 'produits' %}
    {% set entityController = 'ProductCrudController' %}
{% elseif entity == 'recettes' %} 
    {% set entityController = 'RecipeCrudController' %}
{% endif %}

<div class="container mt-md-5 mt-4">

    <div class="row mb-md-5 mb-4">
        <h2 class="display-6 mb-0">Statistiques</h2>
    </div>

    <div class="row mb-md-4 mb-3">
            <h3 class="h3 mb-4">{{ entity | capitalize }}</h3>
        <hr class="mb-0">
    </div>

    <div class="row mb-md-4 mb-3">
        <div class="mb-md-4 mb-3">
            <p class="mb-0 fst-italic"><span class="fw-bold">{{ countRatedItems }}</span> {{ entity }} ont été notés sur <span class="fw-bold">{{ countAllItems }}</span> {{ entity }} au total</p>
        </div>
        <div class="col-md-8">
            <h4 class="h4 text-center">
                Notes
            </h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            {% if entity == 'produits' %}
                                Nom
                            {% elseif entity == 'recettes' %} 
                                Titre
                            {% endif %}
                        </th>
                        <th scope="col" class="text-center">Moyenne</th>
                        <th scope="col" class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entityData in entityRatingList %}
                        <!-- ======= Url ======= -->
                        {% set url = ea_url()
                            .setController('App\\Controller\\Admin\\' ~ entityController)
                            .setAction('detail') 
                            .setEntityId( entityData.id )%}

                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="{{ url }}">
                                {% if entity == 'produits' %}
                                    {{ entityData.name | capitalize}}
                                {% elseif entity == 'recettes' %} 
                                    {{ entityData.title | capitalize}}
                                {% endif %}
                            </a></td>
                            <td class="text-center">{{ entityData.ratingAvg | number_format(2, ',') }}</td>
                            <td class="text-center">{{ entityData.totalRates}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-4 mb-md-4 mb-3 order-first order-md-last text-center">
            <h4 class="h4 text-center mb-3">
                Moyenne Totale
            </h4>
            <div class="mb-3">
                <span class="display-6 fw-normal">{{ entityTotal.ratingAvg | number_format(2, ',') }} / 5</span>
            </div>
            <div>
                <span>{{ entityTotal.totalRates }} (notes)</span>
            </div>
        </div>
    </div>    
</div>

{% endblock %}