{% set rating = entity.instance %}

{% if rating.commentReplies is not empty %}
    {% for reply in rating.commentReplies %}  
            <div>
                <p class="mb-0">{{ reply.comment }}</p>
                <p class="mb-0 fst-italic">Répondu par : {{ reply.user }}</p>
                <a href="{{ path('recipe_single', {'product_slug': rating.recipe.product.slug,'recipe_slug': rating.recipe.slug}) }}" class="item-wrap fancybox" target="_blank">
                    Lien page recette
                </a>
            </div>
    {% endfor %}
{% else %}
    <p class="mb-0 fst-italic">Pas de réponse</p>
{% endif %}