{% set rating = entity.instance %}

{% if rating.hasReply == true %}
    <div class="text-center" style="color: #6174D1;">
        <i class="fa fa-check-square fa-lg" aria-hidden="true"></i>
    </div>
{% else %}
    <div class="text-center" style="color: #6174D1;">
        <span>-</span>
    </div>
{% endif %}