{% set rating = entity.instance %}

{% if rating.commentReplies is not empty %}
    {% for reply in rating.commentReplies %}
        <div>
            <p class="mb-0">{{ reply.comment }}</p>
            <p class="mb-0 fst-italic">Répondu par : {{ reply.user }}</p>
            
            {% if rating.product.isSeason == true %}
                <a href="{{ path('product_details', {slug: rating.product.slug, category_slug: 'saison'}) }}" class="item-wrap fancybox" target="_blank">
            {% else %}
                <a href="{{ path('product_details', {slug: rating.product.slug, category_slug: rating.product.category.slug}) }}" class="item-wrap fancybox" target="_blank">
            {% endif %}
            Lien page produit
            </a>
        </div>
    {% endfor %}
{% else %}
    <p class="mb-0 fst-italic">Pas de réponse</p>
{% endif %}