{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

    <div class="container mt-5">

        <div class="row mb-5">
            <h1 class="display-3">Administration</h1>
            <p class="lead mb-0">Interface d'administration de Sans Faim</p>
        </div>

        <div class="row mb-4">
            <h2 class="display-6 mb-0">Statistiques</h2>
        </div>

        <!-- ======= Top / Last Products ======= -->
        <div class="row mb-4">
            <h3 class="h3">Produits</h3>
            <hr>
            <div class="col-md-6">
                <h4 class="h4 text-center">
                    Notes
                    <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col" class="text-center">Moyenne / 5</th>
                            <th scope="col" class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in topProducts %}
                        <!-- ======= Product Url ======= -->
                        {% set productUrl = ea_url()
                            .setController('App\\Controller\\Admin\\ProductCrudController')
                            .setAction('detail') 
                            .setEntityId( product.id )%}

                        <tr class="table-success">
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="{{ productUrl }}">{{ product.name | capitalize}}</a></td>
                            <td class="text-center">{{ product.ratingAvg | number_format(2, ',') }}</td>
                            <td class="text-center">{{ product.totalRates}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4 class="h4 text-center">
                    Notes
                    <i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col" class="text-center">Moyenne / 5</th>
                            <th scope="col" class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in lastProducts | reverse %}
                        <!-- ======= Set Product Ranking ======= -->
                        {% set ranking = countRatedProducts - 3 + loop.index %}
                        <!-- ======= Product Url ======= -->
                        {% set productUrl = ea_url()
                            .setController('App\\Controller\\Admin\\ProductCrudController')
                            .setAction('detail') 
                            .setEntityId( product.id )%}

                        <tr class="table-danger">
                            <th scope="row">{{ ranking }}</th>
                            <td><a href="{{ productUrl }}">{{ product.name | capitalize}}</a></td>
                            <td class="text-center">{{ product.ratingAvg | number_format(2, ',') }}</td>
                            <td class="text-center">{{ product.totalRates}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="text-center mt-4 mb-4">
                <a href="{{ path('average_ratings_all', {'entity': 'produits'}) }}" class="btn btn-primary">Voir tout</a>
            </div>

            <!-- ======= Graph Ratings By Product ======= -->
            <div class="mb-4">
                <h4 id="test" class="text-center mb-4">Nombre de notes par produit et par mois</h4>

                {{ form_start(ratingsByProductForm, {'attr': {'id': 'ratings_by_product'}}) }}
                <div class="row mb-4">
                    <div class="col-4">
                        {{ form_widget(ratingsByProductForm.product) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(ratingsByProductForm.year) }}
                    </div>

                    <div class="col-4 align-self-center">
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </div>

                {{ form_end(ratingsByProductForm) }}

                <canvas id="ratingsPerMonth" width="400" height="100"></canvas>
            </div>
        </div>

        <!-- ======= Top / Last Recipes ======= -->
        <div class="row mb-4">
            <h3 class="h3">Recettes</h3>
            <hr>
            <div class="col-md-6">
                <h4 class="h4 text-center">
                    Notes
                    <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col" class="text-center">Moyenne / 5</th>
                            <th scope="col" class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recipe in topRecipes %}
                        <!-- ======= Recipe Url ======= -->
                        {% set recipeUrl = ea_url()
                            .setController('App\\Controller\\Admin\\RecipeCrudController')
                            .setAction('detail') 
                            .setEntityId( recipe.id )%}

                        <tr class="table-success">
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="{{ recipeUrl }}">{{ recipe.title | capitalize}}</a></td>
                            <td class="text-center">{{ recipe.ratingAvg | number_format(2, ',') }}</td>
                            <td class="text-center">{{ recipe.totalRates}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4 class="h4 text-center">
                    Notes
                    <i class="fa fa-arrow-down text-danger" aria-hidden="true"></i>
                </h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col" class="text-center">Moyenne / 5</th>
                            <th scope="col" class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recipe in lastRecipes | reverse %}
                        <!-- ======= Set Recipe Ranking ======= -->
                        {% set ranking = countRatedRecipes - 3 + loop.index %}
                        <!-- ======= Recipe Url ======= -->
                        {% set recipeUrl = ea_url()
                            .setController('App\\Controller\\Admin\\RecipeCrudController')
                            .setAction('detail') 
                            .setEntityId( recipe.id )%}

                        <tr class="table-danger">
                            <th scope="row">{{ ranking }}</th>
                            <td><a href="{{ recipeUrl }}">{{ recipe.title | capitalize}}</a></td>
                            <td class="text-center">{{ recipe.ratingAvg | number_format(2, ',') }}</td>
                            <td class="text-center">{{ recipe.totalRates}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center mt-4">
                <a href="{{ path('average_ratings_all', {'entity': 'recettes'}) }}" class="btn btn-primary">Voir tout</a>
            </div>
        </div>

    </div>


{% block javascripts %}
	{{ encore_entry_script_tags('ratingsByMonthChart') }}
{% endblock %}

{% endblock %}
