{% set gpsCoordinates = entity.instance.gpsCoordinates %}
<div>
    <p class="mb-0">Lat : {{ gpsCoordinates.latitude | number_format(2, ',') }}</p>
    <p class="mb-0">Lon : {{ gpsCoordinates.longitude | number_format(2, ',') }}</p>
</div>