{% set recipe = entity.instance %}

{% if recipe.nickname != null %}
    <p class="mb-0">pseudo : {{ recipe.nickname }}</p>
    <p class="mb-0">email : <a href="mailto: {{ recipe.email }}">{{ recipe.email }}</a></p>
{% else %}
    <span>{{ recipe.user }}</span>
{% endif %}

    