{% set recipe = entity.instance %}

{% if recipe.isContribution == true %}
    <span class="list-group-item list-group-item-primary p-1">{{ recipe.title | capitalize }}</span>
{% endif %}

{% if recipe.isContribution == false %}
    <span>{{ recipe.title | capitalize }}</span>
{% endif %}