{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h1 class="h4">Réponse au commentaire : </h1>
            <p class="mb-1">"{{ rating.comment }}"</p>
            <p>Note : {{ rating.rating }}/5</p>
        </div>
        <div class="row">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.comment) }}
                    {{ form_widget(form.comment) }}
                    {{ form_errors(form.comment) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.commentParent) }}
                    {{ form_widget(form.commentParent) }}
                    {{ form_errors(form.commentParent) }}
                </div>
                
                <button type="submit" class="action-new btn btn-primary">Répondre</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
