{% extends 'base.html.twig' %}

{% block title %}Nous trouver | Sans Faim{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- ======= Link CSS map ======= -->
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
<main id="main">
 <!-- ======= Breadcrumb ======= -->
    {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
    <div class="container pt-md-4 pt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                {{ breadcrumb.showBreadcrumb([
                    {'url': url('home'), 'text': 'Accueil'},
                    {'text': 'Nous trouver' },
                ]) }}
            </div>
        </div>
    </div>

    <section class="section pt-md-4 pt-3">
    
    <div class="container">

        <div class="row mb-4 mb-md-5 align-items-end">
            <div class="col-lg-9" data-aos="fade-up">
                <h1 class="h2">Nous trouver</h1>
                <p class="mb-0">Nos produits sont présents dans toute la France. Vous trouverez ci-dessous les différents établissements qui proposent nos produits.</p>
            </div>
        </div>

        
        <div class="row">
            <div class="col-lg-9" data-aos="fade-up" data-aos-delay="100">
                <div id="map"></div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <h2 class="h3 mt-4 mt-lg-0">Nos Partenaires</h2>
                <p class="fst-italic consent mb-1 text-muted">Cliquez sur un de nos partenaires pour afficher le lieu sur la carte</p>
                <ul id="retailersList" class="list-group list-group-flush">
                {% for retailer in retailers %}
                    <li class="list-group-item py-1">
                        <span class="selectRetailer fake-link" id="{{ retailer.id }}">{{ retailer.name | title}}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    </section>

</main>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <!-- ======= Script JS map ======= -->
	{{ encore_entry_script_tags('map') }}
{% endblock %}
