{% macro displayStarRating(avgRating, totalVotes) %}
    <div class="me-1">	
        {% for i in range(1, 5) %}
            {% if i <= avgRating %}
                <i class="bi bi-star-fill text-warning"></i>
            {% elseif 0.09 <= i - avgRating and  i - avgRating <= 0.91 %}
                <i class="bi bi-star-half text-warning"></i>
            {% else %}
                <i class="bi bi-star"></i>
            {% endif %}	
        {% endfor %}
        <p class="consent pt-0 mb-0">({{ totalVotes }} note(s))</p>
    </div>
    <p class="mb-0">({{ avgRating | round(1) }})</p>
{% endmacro %}

{% macro displayStarRatingHome(rating) %}
    {% for i in range(1, 5) %}
        {% if i <= rating %}
            <i class="bi bi-star-fill text-warning"></i>
        {% elseif 0.09 <= i - rating and  i - rating <= 0.91 %}
            <i class="bi bi-star-half text-warning"></i>
        {% else %}
            <i class="bi bi-star"></i>
        {% endif %}	
    {% endfor %}
{% endmacro %}
