
{% if product.foodIngredients is not empty %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="foodIngredients-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoodIngredients" aria-expanded="false" aria-controls="collapseFoodIngredients">
            Ingrédients
        </button>
        </h2>
        <div id="collapseFoodIngredients" class="accordion-collapse collapse" aria-labelledby="foodIngredients-heading">
            <div class="accordion-body card">
                <ul class="inline-list-separator mb-3">
                    {% for ingredient in product.foodIngredients %}
                        {% if loop.first %}
                            <li>{{ ingredient.name | capitalize }}{% if ingredient.percentage is not null %}({{ ingredient.percentage }}%){% endif %}</li>
                        {% else %}
                            <li>{{ ingredient.name }}{% if ingredient.percentage is not null %}({{ ingredient.percentage }}%){% endif %}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p class="mb-0">Substances ou produits provoquant des allergies ou intolérances :</p>
                <ul class="inline-list-separator">
                    {% for ingredient in product.foodIngredients %}
                        {% if ingredient.isAllergen == true %}
                            <li>{{ ingredient.name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
