{% if product.nutritionalValues is not empty %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="nutritionalValues-heading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNutritionalValues" aria-expanded="false" aria-controls="collapseNutritionalValues">
            Valeurs nutritionnelles
        </button>
        </h2>
        <div id="collapseNutritionalValues" class="accordion-collapse collapse" aria-labelledby="nutritionalValues-heading">
            <div class="accordion-body card">

                <table class="table">
                    <tbody>
                        <tr>
                            <th class="fw-normal">Energie</th>
                            <td class="text-end">{{ product.nutritionalValues.energyKJ }} kJ / {{ product.nutritionalValues.energyKcal }} kcal</td> 
                        </tr>
                        <tr>
                            <th class="fw-normal">Matières grasses</th>
                            <td class="text-end">{{ product.nutritionalValues.fat }} g</td>
                        </tr>
                        <tr class="border-top-hidden">
                            <th class="fw-normal ps-5 pt-0">(dont acides gras saturés)</th>
                            <td class="text-end pt-0">{{ product.nutritionalValues.fattyAcids }} g</td>
                        </tr>
                        <tr>
                            <th class="fw-normal">Glucides</th>
                            <td class="text-end">{{ product.nutritionalValues.carbs }} g</td>
                        </tr>
                        <tr class="border-top-hidden">
                            <th class="fw-normal ps-5 pt-0">(dont sucres)</th>
                            <td class="text-end pt-0">{{ product.nutritionalValues.sugar }} g</td>
                        </tr>
                        <tr>
                            <th class="fw-normal">Protéines</th>
                            <td class="text-end">{{ product.nutritionalValues.protein }} g</td>
                        </tr>
                        <tr>
                            <th class="fw-normal">Sel</th>
                            <td class="text-end">{{ product.nutritionalValues.salt }} g</td>
                        </tr>
                    </tbody>
                </table>
                <p class="mb-0 fst-italic">Valeurs nutritionnelles pour : 100g</p>

            </div>
        </div>
    </div>
{% endif %}
