{% extends "base.html.twig" %}

{% block title %}Catégories de produits | Sans Faim{% endblock %}

{% block body %}
<main id="main">
    <!-- ======= Breadcrumb ======= -->
    {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
    <div class="container pt-md-4 pt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                {{ breadcrumb.showBreadcrumb([
                    {'url': url('home'), 'text': 'Accueil'},
                    {'text': 'Produits'},
                ]) }}
            </div>
        </div>
    </div>
    <section class="section pt-xl-4 pt-3">
        <div class="site-section pb-0">
            <div class="container">
                <div class="row justify-content-center" data-aos="fade-up">                  
                    <h1 class="h2 mb-2 mb-md-3 mt-md-0 text-center">Découvrez nos produits</h1>
                    <div class="d-flex flex-wrap col-xl-10" data-aos="fade-up" data-aos-delay="100">

                        <!-- ======= Season Info ======= -->
                        <div class="col-12 col-md-6 col-lg-3 my-xl-4 my-3 px-xl-4 px-md-3 px-2 d-flex justify-content-center">
                            <div class="card shadow">
                                <div class="p-3">
                                    <a href="{{ path("products_is_season") }}" class="card-img-top">
                                        <img src="{{ vich_uploader_asset(seasonData, 'imageFile') }}" alt="..." class="card-img-top">
                                    </a>
                                </div>
                                <div class="card-body text-reset text-decoration-none d-flex flex-column justify-content-between p-4">
                                    <div> 
                                        <h3>
                                            Saison : {{ seasonData.name | capitalize }}
                                        </h3>
                                        <p class="text-muted mb-5">
                                            {{ seasonData.shortDescription }}
                                        </p>
                                    </div>
                                    <a href="{{ path("products_is_season") }}" class="h6 readmore text-uppercase text-muted mb-3 ms-auto">
                                        Voir les produits
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- ======= Category Info ======= -->
                        {% for category in categories %}
                            <!-- Category Not Displayed if No Products inside -->
                            {% if category.products is not empty %}
                                <div class="col-12 col-md-6 col-lg-3 my-xl-4 my-3 px-xl-4 px-md-3 px-2 d-flex justify-content-center">
                                    <div class="card shadow">
                                        <div class="p-3">
                                            <a href="{{ path("products_by_category", {category_slug: category.slug}) }}" class="card-img-top">
                                                <img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="..." class="card-img-top">
                                            </a>
                                        </div>
                                        <div class="card-body text-reset text-decoration-none d-flex flex-column justify-content-between p-4">
                                            <div> 
                                                <h3>
                                                    {{ category.name | capitalize }}
                                                </h3>
                                                <p class="text-muted mb-5">
                                                    {{ category.shortDescription }}
                                                </p>
                                            </div>
                                            <a href="{{ path("products_by_category", {category_slug: category.slug}) }}" class="h6 readmore text-uppercase text-muted mb-3 ms-auto">
                                                Voir les produits
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
