{% extends "base.html.twig" %}

{% block title %}Produits de Saison | Sans Faim{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumb ======= -->
        {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
        <div class="container pt-md-4 pt-3">
            <div class="row justify-content-center">
                <div class="col-12">
                    {{ breadcrumb.showBreadcrumb([
                        {'url': url('home'), 'text': 'Accueil'},
                        {'url': url('products_categories'), 'text': 'Produits'},
                        {'text': 'Saison' },
                    ]) }}
                </div>
            </div>
        </div>
        <!-- ======= Display Products ======= -->
        <section class="section site-portfolio pt-xl-4 pt-3">
            <div class="container">

                <div class="row mb-3 mb-md-4 d-flex flex-column">
                    <div class="col-md-12 col-lg-8 mb-3 mb-md-4" data-aos="fade-up">
                        <h1 class="h2">Saison : {{ seasonData.name | capitalize }}</h1>
                    </div>
                    <div class="col-md-12 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="mb-2 h3">Découvrez notre sélection de produits de saison</h2>
                        <p class="justify-text">{{ seasonData.description | capitalize }}</p>
                    </div>
                </div>

                <div id="portfolio-grid" class="row justify-content-center no-gutter" data-aos="fade-up" data-aos-delay="200">
                    {% for product in products %}
                        <div class="item col-sm-6 col-md-3 col-lg-2 mb-3">
                            <a href="{{ path("product_details", {slug: product.slug, category_slug: 'saison'}) }}" class="item-wrap fancybox">
                                <div class="work-info">
                                    <h3>{{ product.name | capitalize }}</h3>
                                    <span>Saison</span>
                                </div>
                                <img class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile') }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}