{% extends 'base.html.twig' %}

{% block title %}{{ product.name | capitalize }} | Sans Faim{% endblock %}

{% block body %}

{% set avg = avgRating.0.ratingAvg %}
{% set total = avgRating.0.totalRates %}

<main id="main">
	<!-- ======= Rating Form Section ======= -->
	{% include "rating/_form.html.twig" %}

	<!-- ======= Breadcrumb ======= -->
	{% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
	<div class="container pt-md-4 pt-3">
		{%
			if routeName == "products_is_season"
			or routeName == "home" and product.isSeason == true
			or routeName == "product_details" and product.isSeason == true 
		%}
			{{ breadcrumb.showBreadcrumb([
				{'url': url('home'), 'text': 'Accueil'},
				{'url': url('products_categories'), 'text': 'Produits'},
				{'url': url('products_is_season'), 'text': 'Saison'},
				{'text': product.name | capitalize},
			]) }}
		{% else %}
			{{ breadcrumb.showBreadcrumb([
				{'url': url('home'), 'text': 'Accueil'},
				{'url': url('products_categories'), 'text': 'Produits'},
				{'url': url('products_by_category', {category_slug: product.category.slug}), 'text': product.category.name | capitalize},
				{'text': product.name | capitalize},
			]) }}
		{% endif %}
	</div>

    <!-- ======= Suggestions Section ======= -->
	<section class="section pt-3">
		<div class="container">
			<div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">

				{% for suggestion in suggestions %}
					<div class="item season meat col-md-2 col-4 mb-3">
						<!-- URL ifSeason : slug = saison, else slug = category.slug -->
						{% if suggestion.isSeason == true %}
							<a href="{{ path('product_details', {slug: suggestion.slug, category_slug: 'saison'}) }}" class="item-wrap fancybox">
						{% else %}
							<a href="{{ path('product_details', {slug: suggestion.slug, category_slug: suggestion.category.slug}) }}" class="item-wrap fancybox">
						{% endif %}
							<div class="work-info">
								<h3>{{ suggestion.name | capitalize }}</h3>
								<span>{{ suggestion.category.name }}</span>
							</div>
							<img class="img-fluid" src="{{ vich_uploader_asset(suggestion, 'imageFile') }}">
						</a>
					</div>
				{% endfor %}
			</div>
			<h2 class="mb-0 h6 text-muted" data-aos="fade-up" data-aos-delay="200">Suggestions</h2>
		</div>
	</section>
    <!-- ======= End Suggestions Section ======= -->

    <!-- ======= Product Section ======= -->
    <section class="section pt-md-4 pt-3">
      	<div class="site-section pb-0">
			<div class="container">
				<div class="row align-items-stretch">
					<!-- Product Main Picture -->
					<div class="col-md-4 text-center" data-aos="fade-up">
						<img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="Image" class="img-fluid">
					</div>
					<div class="col-md-8 px-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="100">
						<div class="sticky-content">
							<!-- Product Name -->
							<h1 class="h2 mb-3 mb-md-5 mt-md-0">{{ product.name | capitalize }}</h1>
							<!-- Product Data -->
							<div class="mb-3 mb-md-4">
								<p class="justify-text mb-3 mb-md-4">{{ product.description }}</p>
									<!-- Display Nutritional Values or Food Ingredients ARE NOT EMPTY -->
									{% if product.nutritionalValues is not empty or product.foodIngredients is not empty %}			
									<div class="accordion accordion-flush mb-3 mb-md-4" id="accordionFoodInfo">	
										<!-- Nutritional Values Item -->
										{% include "product/_display_nutritional_values.html.twig" %}
										<!-- Food Ingredients Item -->
										{% include "product/_display_food_ingredients.html.twig" %}
									</div>
								{% endif %}

								<p class="mb-0"><a href="{{ vich_uploader_asset(product, 'dataSheetFile') }}" target="_blank">Fiche technique</a></p>
							</div>
							<!-- ======= Display Star Rating Average ======= -->
							{% import "@macros/_starRating.html.twig" as starRating %}
							<div class= "d-flex flex-wrap mb-3 mb-md-4">
								<!-- Display if NO Ratings -->
								{% if avg == 0 %}
									<p class="me-4 mb-0 consent fst-italic align-self-center">(Pas encore de note)</p>
								<!-- Display if AT LEAST 1 Rating -->
								{% else %}
									{{ starRating.displayStarRating(avg, total) }}
								{% endif %}
								<!-- Modal Link to Rating Form -->
								<button class="btn mb-0 readmore ms-3" data-bs-toggle="modal" data-bs-target="#ratingModal">Noter le Produit</button>
							</div>
							<!-- Links for recipes -->
							<div>
								{% if product.recipes is empty %}
								<!-- Display if NO Links -->
									<h2 class="h3">Idées Recettes</h2>
									<p class="fst-italic mb-3">Aucune recette n'est disponible pour l'instant</p>
									<a class="btn mb-0 readmore text-center" href="{{ path("recipe_create_form", {'product_id': product.id}) }}">Proposer une recette</a>
								{% else %}
								<!-- Display if AT LEAST 1 Link -->
									<h2 class="h3 mb-3 mb-lg-4">Idées Recettes</h2>
									<div class="d-flex align-items-center">
										{% for recipeLink in recipesLinks %}
											<div class="item col-lg-3 col-4 pe-lg-5 pe-4 mb-0">
												<!-- Link to Recipe Page -->
												<a href="{{ path('recipe_single', {'product_slug': recipeLink.product.slug,'recipe_slug': recipeLink.slug}) }}" class="item-wrap fancybox">
													<div class="work-info">
														<h3>{{ recipeLink.title | capitalize }}</h3>
													</div>
													<img class="img-fluid" src="{{ vich_uploader_asset(recipeLink, 'imageFile') }}">
												</a>
											</div>
										{% endfor %}
										<!-- Link to List of Recipes for Current Product -->
									</div>
									<a class="btn mt-3 mt-md-4 mb-0 me-2 readmore text-center" href="{{ path("recipes_by_product", {'product_slug': product.slug}) }}">Liste des Recettes</a>
									<a class="btn mt-3 mt-md-4 mb-0 readmore text-center" href="{{ path("recipe_create_form", {'product_id': product.id}) }}">Proposer une recette</a>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>
    <!-- ======= End Product Section ======= -->

    <!-- ======= Comments Section ======= -->
    {% include "rating/_display_comments.html.twig" %}
</main><!-- End #main -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('starRating') }}
{% endblock %}
