{% extends 'base.html.twig' %}

{% block title %}Site Web du partenaire{% endblock %}

{% block body %}
<main id="main">
    <section class="section site-portfolio">
    	<div class="container">
            <h1>Page d'accueil du partenaire {{ retailer.name | capitalize }}</h1>
            <p>Ceci est la page d'accueil du partenaire {{ retailer.name | capitalize }} qui vend les produits de la marque <strong>Sans Faim</strong>, bla bla bla bla bla bla.</p>
        </div>
    </section>
</main>
{% endblock %}