{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous | Sans Faim{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumb ======= -->
        {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
        <div class="container pt-md-4 pt-3">
            <div class="row justify-content-center">
                <div class="col-12">
                    {{ breadcrumb.showBreadcrumb([
                        {'url': url('home'), 'text': 'Accueil'},
                        {'text': 'Qui sommes-nous'},
                    ]) }}
                </div>
            </div>
        </div>
        
        <div class="container pt-xl-4 pt-3">
            <h1 class="h2 mb-2 mb-md-3">Qui sommes-nous ?</h1>
        </div>
        <!-- ======= Company Presentation Section ======= -->
        <section class="section site-portfolio pt-3 pt-lg-4">
            <div class="container">

                <div class="row align-items-stretch">
					<!-- Vidéo presentation-->
					<div class="col-lg-6 text-center mb-4 mb-lg-0" data-aos="fade-up">
						 <div class="iframe-container">
                            <!-- Remplacer watch?v= par embed/ -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/6WZOxnYi4Cs" title="YouTube video player" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
					</div>
					<div class="col-lg-6 px-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="100">
						<div class="sticky-content">
                            <h2 class="h3 text-center">Notre Histoire</h2>
                            <!-- Story Telling -->
                            {% for storyTellingRow in storyTelling %}                          
                                <div class="mt-3 mt-md-4">
                                    <!-- Story Telling Title -->
                                    <h3 class="h4 mb-2 mb-md-3 mt-md-0">{{ storyTellingRow.title }}</h3>
                                    <!-- Story Telling Content -->
                                    <p class="justify-text mb-0">{{ storyTellingRow.content }}</p>
                                </div>
                            {% endfor %}	
						</div>
					</div>
                </div>
            </div>    
        </section>
        <!-- ======= Team Member Section ======= -->
        <section class="section site-portfolio pt-0">
            <div class="container justify-content-center">
                    <!-- Team Member Presentation -->
                    <div data-aos="fade-up" data-aos-delay="200">
                        <h2 class="col-12 h3 mb-3 mb-md-4">Notre équipe</h2>
                        <div class="row flex-wrap text-center g-lg-5 g-md-4 g-3">     
                            {% for teamMember in teamMembers %}      
                                <div class="col-12 col-md-6 col-lg-4 d-flex">
                                    <div class="card shadow pt-4">
                                        <div class="card-img-top">
                                            <img src="{{ vich_uploader_asset(teamMember, 'avatarFile') }}" alt="..." class="card-img-top" style="width: 200px;">
                                        </div>
                                        <div class="card-body text-reset text-decoration-none d-flex flex-column">
                                            <div> 
                                                <h3 class="h4 fw-bold">{{ teamMember.firstname }}</h3>
                                                <h4 class="h4">{{ teamMember.position }}</h4>
                                            </div>
                                            <p class="text-muted mb-0 p-3">
                                                {{ teamMember.description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}              
                        </div>
                    </div>
				
             
            </div>
        </section>
    </main>
{% endblock %}
