<div class="accordion-item">
    <h2 class="accordion-header" id="season-heading">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeason" aria-expanded="false" aria-controls="collapseSeason">
        Saison
    </button>
    </h2>
    <div id="collapseSeason" class="accordion-collapse collapse" aria-labelledby="season-heading">
        <div class="accordion-body">
       
                <!-- ======= Links to Recipes By Product ======= -->
                <div class="list-group">
                    {% for product in products %}
                        {% if product.isSeason == true %}
                            <a class="h4 mb-0 py-3 list-group-item list-group-item-action" href="{{ path('recipes_by_product', {'product_slug': product.slug}) }}">
                                {{ product.name | capitalize }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

        </div>
    </div>
</div>
