<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block stylesheets %}
		{% import "@macros/_absolute_css_links.html.twig" as cssLinks %}
		{{ cssLinks.encore_absolute_link_tags('bootstrap4') }}
	{% endblock %}
	<title>{{ recipe.title }}</title>
	<style>
		img {
			width: 200px;
			max-width: 100%;
		}
		.wrapper {
			width: 850px;
			padding-left: 24px;
			padding-right: 24px;
		}

		.image {
			width: 20%;
			float: left;
			padding-right: 32px;
			overflow: hidden;
		}

		.header {
			width: 80%;
			overflow: hidden;
		}

		.content {
			padding-left: 60px;
		}
	</style>
</head>
<body>
	<!-- Recipe image -->
	<div class="wrapper mt-3 mb-3">
		<div class="image">
			<div class="mt-0">
				<img src="{{ absolute_url( vich_uploader_asset(recipe, 'imageFile') ) }}" alt="Image de la recette">
			</div>
		</div>
		<!-- Recipe headings -->
		<div class="header">
			<h1 class="h4">{{ recipe.title | capitalize }}</h1>
			<!-- Product name -->
			<p class="mb-0 fw-bold disabled">{{ recipe.product.name | capitalize }}</p>
			<p>Publiée le : {{ recipe.createdAt  | date('d/m/Y') }}</p>
				<!-- Date -->
				<!-- Recipe description -->
			<div>
				<p>{{ recipe.description }}</p>		
			</div>
		</div>
	</div>

	<hr>

	{# <!-- Recipe content --> #}
	<div class="content">
		<h2 class="h5">Ingrédients : {{ recipe.servings }} Pers.</h2>
		<ul class="pl-3">
			{% for ingredient in recipe.ingredients %}
				{% if ingredient.unit is not null %}
					<li>{{ ingredient.name }}<span> {{ ingredient.quantity }}</span></span> {{ ingredient.unit }}</span></li>
				{% else %}
					<li><span>{{ ingredient.quantity }} </span>{{ ingredient.name }}</span></li>
				{% endif %}	
			{% endfor %}
		</ul>
	</div>

	<hr>

	<div class="content">
		<h2 class="h5">Etapes</h2>
		<ol class="list-group-numbered pl-4 step-list">
			{% for step in recipe.steps %}
				<li>{{ step }}</li>
			{% endfor %}
		</ol>
	</div>
	
</body>
</html>
