{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3 mt-md-4">
            {% for messageType, messages in app.flashes %}
                <div class="mb-0 alert alert-{{ messageType }}">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<main id="main">
    <!-- ======= Breadcrumb ======= -->
    {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
    <div class="container pt-md-5 pt-3">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-12">
                {{ breadcrumb.showBreadcrumb([
                    {'url': url('home'), 'text': 'Accueil'},
                    {'text': 'Recettes'},
                ]) }}
            </div>
        </div>
    </div>


    <section class="section pt-md-5 pt-4">

        <div class="site-section pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-12"> 
                        <h1 class="h2 mb-3 mt-md-0">Recettes</h1>
                        <p>Accédez aux recettes pour chacun de nos produits. Vous pouvez également partager vos propres recettes en cliquant sur le lien ci-dessous.</p>
                        <a class="btn mb-3 readmore text-center" href="{{ path("recipe_create_form", {product_id: ""}) }}">Proposer une recette</a>
                        <div class="accordion accordion-flush mb-3 mb-md-4" id="accordionCategories">
                            
                            <!-- ======= Season Links ======= -->
                            {% include "recipe/_display_season_links.html.twig" %}

                            <!-- ======= Categories Items ======= -->
                            {% for category in categories %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="{{ category.name }}-heading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category.name | capitalize }}" aria-expanded="false" aria-controls="collapse{{ category.name | capitalize }}">
                                        {{ category.name | capitalize }}
                                    </button>
                                    </h2>
                                    <div id="collapse{{ category.name | capitalize }}" class="accordion-collapse collapse" aria-labelledby="{{ category.name }}-heading">
                                        <div class="accordion-body">
                                            <!-- ======= Links to Recipes By Product ======= -->
                                            <div class="list-group">
                                                {% for product in category.products %}
                                                    <a class="h4 mb-0 py-3 list-group-item list-group-item-action" href="{{ path('recipes_by_product', {'product_slug': product.slug}) }}">
                                                        {{ product.name | capitalize }}
                                                    </a>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- ======= End Categories Items ======= -->
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
