{% extends 'base.html.twig' %}

{% block title %}Recette : {{ recipe.title | capitalize }} | Sans Faim{% endblock %}

{% block body %}

<!-- ======= Variables attribuées pour la moyenne des notes et le nombre total de votes  ======= -->
{% set avg = avgRating.0.ratingAvg %}
{% set total = avgRating.0.totalRates %}

<main id="main">
	<!-- ======= Breadcrumb ======= -->
	{% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
    <div class="container pt-md-5 pt-4">
		{{ breadcrumb.showBreadcrumb([
			{'url': url('home'), 'text': 'Accueil'},
			{'url': url('recipes_all'), 'text': 'Recettes'},
			{'text': recipe.title | capitalize},
		]) }}
	</div>

	<!-- ======= Rating Form Section ======= -->
	{% include "rating/_form.html.twig" %}

	<!-- ======= Recipe Section ======= -->
    <section class="section pb-0">
		<!-- Recipe headings -->
      	<div class="site-section pb-3 pb-md-5">
			<div class="container">
				<div class="row align-items-stretch">
					<div class="col-md-4" data-aos="fade-up">
						<img src="{{ vich_uploader_asset(recipe, 'imageFile') }}" alt="Image de la recette" class="img-fluid">
					</div>
					<div class="col-md-8 px-lg-5 px-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
						<div class="mb-5 mt-3 mt-md-0">
							<h1 class="h2">{{ recipe.title | capitalize }}</h1>
							<!-- Product name -->
							<p class="mb-0 btn btn-secondary btn-sm fw-bold disabled">{{ recipe.product.name | capitalize }}</p>
							<a href="{{ path('recipe_pdf', {slug: recipe.slug}) }}" target="_blank"><i class="bi bi-printer"></i></a>
						</div>
						
						<div class="mb-4 bm-md-5">
							<!-- Date -->
							<p>Publiée le : {{ recipe.createdAt  | date('d/m/Y') }}</p>
							<!-- Recipe description -->
							<p class="mb-4">{{ recipe.description }}</p>
						</div>
						<!-- ======= Display Star Rating Average ======= -->
						{% import "@macros/_starRating.html.twig" as starRating %}
						<div class= "d-flex flex-wrap">
							{% if avg == 0 %}
									<p class="me-4 mb-0 consent fst-italic align-self-center">(Pas encore de note)</p>
							{% else %}
								{{ starRating.displayStarRating(avg, total) }}
							{% endif %}
							<button class="btn mb-0 readmore ms-3" data-bs-toggle="modal" data-bs-target="#ratingModal">Noter la Recette</button>
						</div>

					</div>
				</div>
			</div>
        </div>
		<!-- Recipe content -->
		<div class="container mt-md-5">
			<div class="row" data-aos="fade-up">
				<div class="col-12 col-md-9 order-1 order-md-0 pe-5">
					<ol class="list-group-numbered list-group-flush">
						{% for step in recipe.steps %}
							<li class="list-group-item py-3">{{ step }}</li>
						{% endfor %}
					</ol>
				</div>
				<div class="col-12 col-md-3 ps-5 order-0 order-md-1">
					<h4 class="mb-3">Ingrédients : {{ recipe.servings }} Pers.</h4>
					<ul>
						{% for ingredient in recipe.ingredients %}
							{% if ingredient.unit is not null %}
								<li class="py-1">{{ ingredient.name }} :<span> {{ ingredient.quantity }}</span></span> {{ ingredient.unit }}</span></li>
							{% else %}
								<li class="py-1"><span>{{ ingredient.quantity }} </span>{{ ingredient.name }}</span></li>
							{% endif %}	
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

    </section>

	<!-- ======= Comments Section ======= -->
	{% include "rating/_display_comments.html.twig" %}
</main><!-- End #main -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('starRating') }}
{% endblock %}
