{% extends "base.html.twig" %}

{% block title %}Recettes pour : {{ product.name | capitalize }} | Sans Faim{% endblock %}

{% block body %}

<main class="main">
    <!-- ======= Breadcrumb ======= -->
    {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
    <div class="container pt-md-4 pt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                {{ breadcrumb.showBreadcrumb([
                    {'url': url('home'), 'text': 'Accueil'},
                    {'url': url('recipes_all'), 'text': 'Recettes'},
                    {'text':  product.name | capitalize},
                ]) }}
            </div>
        </div>
    </div>

    <section class="section pt-md-4 pt-3">
        <div class="container">
            <div class="row">
                <div class="mb-5" data-aos="fade-up">     
                    <h1 class="h2">Recettes</h1>
                    <p class="mb-0 btn btn-secondary btn-sm fw-bold disabled">{{ product.name }}</p>
                </div>
                <!-- ======= Recipe Links ======= -->
                {% if recipes is empty %}
                    <!-- Display if NO Links -->
                    <div data-aos="fade-up" data-aos-delay="100">
                        <p>Aucune recette n'est disponible pour le produit <span class="fw-bold">{{ product.name | capitalize }}</span>. Vous pouvez partager une recette pour ce produit en cliquant sur le lien ci-dessous.</p>
                        <a class="btn mb-3 readmore" href="{{ path("recipe_create_form", {'product_id': product.id}) }}">Proposer une recette</a>
                    </div>
                {% else %}
                    <!-- Display if AT LEAST 1 Link -->
                    <div class="list-group list-group-flush mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="d-flex flex-wrap align-items-center">
                            {% for recipe in recipes %}
                                <div class="item col-sm-6 col-md-3 col-lg-2 mb-3 pe-lg-5 pe-4 mb-0">
                                    <!-- Link to Recipe Page -->
                                    <a href="{{ path('recipe_single', {'product_slug': recipe.product.slug,'recipe_slug': recipe.slug}) }}" class="item-wrap fancybox">
                                        <div class="work-info">
                                            <h3>{{ recipe.title | capitalize }}</h3>
                                        </div>
                                        <img class="img-fluid" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="200">
                        <p>Vous pouvez partager une recette pour ce produit en cliquant sur le lien ci-dessous.</p>
                        <a class="btn mb-3 readmore" href="{{ path("recipe_create_form", {'product_id': product.id}) }}">Proposer une recette</a>
                    </div>
                {% endif %}
                <!-- ======= End Recipe Links ======= -->
            </div>
        </div>
    </section>
    
</main>

{% endblock %}
