{% extends 'base.html.twig' %}

{% block title %}Proposer une recette | Sans Faim{% endblock %}

{% block body %}
    <main id="main">
        <!-- ======= Breadcrumb ======= -->
        {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
        <div class="container pt-md-4 pt-3">
            {{ breadcrumb.showBreadcrumb([
                {'url': url('home'), 'text': 'Accueil'},
                {'url': url('recipes_all'), 'text': 'Recettes'},
                {'text': 'Proposer une recette'},
            ]) }}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-3 mt-md-4">
                    {% for messageType, messages in app.flashes %}
                        <div class="mb-0 alert alert-{{ messageType }}">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <section class="section pt-xl-4 pt-3">
            
        <div class="container">

            <div class="row mb-4 mb-md-5 align-items-end justify-content-center">
                <div class="col-lg-10" data-aos="fade-up">
                    <h1 class="h2">Proposer une recette</h1>
                    <p class="mb-0 col-lg-9">Vous aimez nos produits et êtes passionnés de cuisine ? N'hésitez pas à partager vos recettes préférées !</p>
                </div>
            </div>
            

            <div class="row justify-content-center">
                <div class="col-lg-10 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    {{ form_start(form) }}
                        <div class="row">

                            {{ form_errors(form) }}

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.nickname) }}
                                {{ form_widget(form.nickname) }}
                                {{ form_errors(form.nickname) }}	
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.product) }}
                                {{ form_widget(form.product) }}
                                {{ form_errors(form.product) }}	
                            </div>

                            <div class="col-sm-8 form-group mb-3">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                                {{ form_errors(form.title) }}	
                            </div>

                            <div class="col-sm-4 form-group mb-3">
                                {{ form_label(form.servings) }}
                                {{ form_widget(form.servings) }}
                                {{ form_errors(form.servings) }}	
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}	
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.ingredients) }}
                                <ul class="ingredients d-flex flex-wrap ps-0 mb-0"
                                    data-index="{{ form.ingredients|length > 0 ? form.ingredients|last.vars.name + 1 : 0 }}"
                                    data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
                                </ul>
                                {{ form_widget(form.ingredients) }}
                                <button type="button" class="add_item_link btn btn-outline-dark btn-sm" data-collection-holder-class="ingredients">Ajouter</button>
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.steps) }}
                                 <ol class="steps ps-0 mb-0 list-group list-group-numbered"
                                    data-index="{{ form.steps|length > 0 ? form.ingredients|last.vars.name + 1 : 0 }}"
                                    data-prototype="{{ form_widget(form.steps.vars.prototype)|e('html_attr') }}">
                                </ol>
                                {{ form_widget(form.steps) }}
                                <button type="button" class="add_item_link btn btn-outline-dark btn-sm" data-collection-holder-class="steps">Ajouter</button>
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.imageFile) }}
                                {{ form_widget(form.imageFile) }}
                                {{ form_errors(form.imageFile) }}	
                            </div>

                            <div class="form-group text-center mt-3">
                                <button type="submit" class="readmore">Envoyer</button>
                            </div>

                        </div>
                    {{ form_end(form) }}
                </div>
            </div>

    </main>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('recipeCreateForm') }}
    {% endblock %}
{% endblock %}
