{% extends 'base.html.twig' %}

{% block title %}Contact | Sans Faim{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumb ======= -->
    {% import "@macros/_breadcrumb.html.twig" as breadcrumb %}
    <div class="container pt-md-4 pt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                {{ breadcrumb.showBreadcrumb([
                    {'url': url('home'), 'text': 'Accueil'},
                    {'text': 'Contact' },
                ]) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-3 mt-md-4">
                {% for messageType, messages in app.flashes %}
                    <div class="mb-0 alert alert-{{ messageType }}">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <section class="section pt-xl-4 pt-3">
        
        <div class="container">

            <div class="row mb-4 mb-md-5 align-items-end justify-content-center">
                <div class="col-lg-10" data-aos="fade-up">
                    <h1 class="h2">Contact</h1>
                    <p class="mb-0 col-lg-9">Vous êtes intéressés par nos produits? Découvrez notre offre dédiée aux professionnels. Contactez nous via le formulaire !</p>
                </div>
            </div>
            

            <div class="row justify-content-center">
                <div class="col-lg-10 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    {{ form_start(form) }}
                        <div class="row">

                            {{ form_errors(form) }}

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.lastname) }}
                                {{ form_widget(form.lastname) }}
                                {{ form_errors(form.lastname) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.firstname) }}
                                {{ form_widget(form.firstname) }}
                                {{ form_errors(form.firstname) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.company) }}
                                {{ form_widget(form.company) }}
                                {{ form_errors(form.company) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.activity) }}
                                {{ form_widget(form.activity) }}
                                {{ form_errors(form.activity) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.position) }}
                                {{ form_widget(form.position) }}
                                {{ form_errors(form.position) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}	
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}	
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.subject) }}
                                {{ form_widget(form.subject) }}
                                {{ form_errors(form.subject) }}	
                            </div>

                            <div class="form-group mb-3">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message) }}
                                {{ form_errors(form.message) }}	
                            </div>

                            <div class="mb-3 d-flex">
                                {{ form_widget(form.rgpd) }}
                                {{ form_help(form.rgpd) }}
                                {{ form_errors(form.rgpd) }}
                                <p class="consent">En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de la demande de contact et de la relation commerciale qui peut en découler.</p>
                            </div>

                            <div class="col-md-6 form-group">
                                <button type="submit" class="readmore">Envoyer</button>
                            </div>

                        </div>
                    {{ form_end(form) }}

                </div>

                {# <div class="col-lg-4 ps-lg-5 ml-auto order-2" data-aos="fade-up" data-aos-delay="200">
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <strong class="d-block mb-1">Adresse</strong>
                            <span>15 rue de la Tour Eiffel<br>75015 - Paris<br>France</span>
                        </li>
                        <li class="mb-3">
                            <strong class="d-block mb-1">Téléphone</strong>
                            <span>01 23 45 67 89</span>
                        </li>
                        <li class="mb-3">
                            <strong class="d-block mb-1">Email</strong>
                            <span>contact@sans-faim.sf</span>
                        </li>
                    </ul>          
                </div> #}

        </div>

    </section>

</main>
{% endblock %}
