<!-- ======= Footer ======= -->
<footer class="footer pb-5" role="contentinfo">

	<div class="container">
		<div class="row justify-content-center">
			<nav class="col-12 navbar navbar-expand-lg bg-light my-4">
				<ul class="list-unstyled nav-links d-flex flex-wrap justify-content-center w-100 p-2 mb-0">
					<li class="nav-item px-3"><a href="{{ path("home") }}">Accueil</a></li>
					<li class="nav-item px-3"><a href="{{ path("about_us") }}">Qui sommes-nous?</a></li>
					<li class="nav-item px-3"><a href="{{ path("products_categories") }}">Produits</a></li>
					<li class="nav-item px-3"><a href="{{ path("contact") }}">Contact</a></li>
					<li class="nav-item px-3"><a href="{{ path("recipes_all") }}">Recettes</a></li>
					<li class="nav-item px-3"><a href="{{ path("find_us") }}">Nous trouver</a></li>
					<li class="nav-item px-3"><a href="#">Mentions Légales</a></li>
					<li class="nav-item px-3"><a href="#">CGV</a></li>
					<li class="nav-item px-3"><a href="#">Qualité</a></li>
				  </ul>
			</nav>
		</div>
	</div>

	<div class="container">
		<div class="row mt-2">
			<div class="col-sm-6 align-self-center text-md-start text-center mb-2">
				<p class="mb-1">&copy; Sans Faim - 2022</p>	
			</div>
			<div class="col-sm-6 social text-md-end text-center mb-2">
				<a href="#"><span class="bi bi-twitter"></span></a>
				<a href="#"><span class="bi bi-facebook"></span></a>
				<a href="#"><span class="bi bi-instagram"></span></a>
				<a href="#"><span class="bi bi-linkedin"></span></a>
			</div>
		</div>
	</div>
	<!-- back to top -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</footer>
