<!-- ======= Navbar ======= -->
<div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="nav-container py-2 py-md-5">
        {# <div class="row align-items-start"> #}
            <div class="col-md-6">
                <ul class="custom-menu">
                <li><a href="{{ path("home") }}">Accueil</a></li>
                <li><a href="{{ path("about_us") }}">Qui sommes-nous?</a></li>
                <li><a href="{{ path("products_categories") }}">Produits</a></li>
                <li><a href="{{ path("contact") }}">Contact Pro</a></li>
                <li><a href="{{ path("recipes_all") }}">Recettes</a></li>
                <li><a href="{{ path("find_us") }}">Nous trouver</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiisexplicabo inventore.</p>
            </div>
        {# </div> #}
    </div>
</div>

<nav class="navbar navbar-light custom-navbar">
    <div class="nav-container align-items-center">
        <a class="navbar-brand p-0" href="{{ path("home") }}"><img class="img-fluid pb-2" src="/img/logo-sans-faim-nav.jpg" alt="logo Sans Faim"></a>
        <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span></span>
        </a>
    </div>
</nav>
