<section class="section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                {% if lastThreeComments is empty %}
                    <h2 class="h3">Avis les plus récents</h2>
                    <div class="card p-3 mb-1 bg-light">
                        <a href='#' class="mb-0" data-bs-toggle="modal" data-bs-target="#ratingModal">Soyez le premier à laisser un avis !</a>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h2 class="h3">Avis les plus récents</h2>
                        <p class="mb-0">
                            <a href="
                                {% if product is defined %}
                                    {{ path('comments_all', {'entity_param': 'produits', 'slug': product.slug}) }}
                                {% elseif recipe is defined %}
                                    {{ path('comments_all', {'entity_param': 'recettes', 'slug': recipe.slug}) }}
                                {% endif %}
                            ">
                                Afficher tous les avis
                            </a>
                        </p>
                    </div>

                    {% for comment in lastThreeComments %}		
                        <div class="card p-3 mb-1 bg-light">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <div class="d-flex flex-row align-items-center">
                                    <p class="mb-0 fw-bold">{{ comment.nickname }}</p> 
                                </div>
                                <p class="mb-0 fst-italic">{{ comment.createdAt|format_datetime(pattern="dd/MM/YYYY à HH:mm") }}</p>
                            </div>
                            <p class="mb-2">{{ comment.comment }}</p>
                            <div>	
                                {% for i in range(1, 5) %}
                                    {% if i <= comment.rating %}
                                        <i class="bi bi-star-fill text-warning"></i>
                                    {% elseif 0.09 <= i - comment.rating and  i - comment.rating <= 0.91 %}
                                        <i class="bi bi-star-half text-warning"></i>
                                    {% else %}
                                        <i class="bi bi-star"></i>
                                    {% endif %}	
                                {% endfor %}
                            </div>
                        </div>
                        {% for reply in comment.commentReplies %}   
                            <div class="card p-3 mb-1 ms-5 reply-comment">
                                <p class="mb-2">{{ reply.comment }}</p>
                                <div class="d-flex justify-content-between align-items-center mb-2">                 
                                    <p class="mb-0 fw-bold">L'équipe de Sans Faim</p> 
                                    <p class="mb-0 fst-italic">{{ reply.createdAt|format_datetime(pattern="dd/MM/YYYY à HH:mm") }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}                        
                {% endif %}

            </div>
        </div>
    </div>
</section>
