
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-3 mt-md-4">
                {% for messageType, messages in app.flashes %}
                    <div class="alert alert-{{ messageType }}">
                        {% for message in messages %}
							{{ message }}
						{% endfor %}
                    </div>

                    {% if messageType == "danger" %}
						<button class="btn mb-0 mt-1 mt-md-2 readmore" data-bs-toggle="modal" data-bs-target="#ratingModal">Retour au formulaire</button>
					{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="rating" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rating">Votre avis compte</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ form_start(form) }}

				{{ form_errors(form) }}

				{{ form_row(form.email) }}

				{{ form_row(form.nickname) }}
				
				<div class="mb-3 rating-parent-bloc">
					{{ form_label(form.rating, "",{'label_attr': {'class': 'mb-0'} })}}
					{{ form_help(form.rating) }}
					<div class="stars">
						<i class="star-vote bi bi-star pe-1" data-value="1"></i><i class="star-vote bi bi-star pe-1" data-value="2"></i><i class="star-vote bi bi-star pe-1" data-value="3"></i><i class="star-vote bi bi-star pe-1" data-value="4"></i><i class="star-vote bi bi-star pe-1" data-value="5"></i>
					</div>
					{{ form_errors(form.rating) }}
					{{ form_widget(form.rating) }}		
				</div>

				{{ form_row(form.comment) }}
				<div class="mb-3 d-flex">
					{{ form_widget(form.rgpd) }}
					{{ form_help(form.rgpd) }}
					{{ form_errors(form.rgpd) }}
					<p class="consent">En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de la gestion des notes et des avis.</p>
				</div>

				<button type="submit" class="readmore">Soumettre</button>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
