<style type="text/css" data-hse-inline-css="true">
    p {
        font-family: Arial, sans-serif;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    li {
        list-style-type: none;
    }

    ul {
        padding-left: 0px;
    }

    h3 {
        margin-bottom: 8px;
    }

</style>

<h3>Informations de contact :</h3>
<ul>
    <li>Nom : {{ contact.firstname }}</li>
    <li>Prénom : {{ contact.lastname }}</li>
    <li>Société : {{ contact.company }}</li>
    <li>Activité : {{ contact.activity }}</li>
    <li>Fonction : {{ contact.position }}</li>
    <li>E-mail : {{ contact.email }}</li>
    <li>N° Téléphone : {{ contact.phone }}</li>
</ul>

<h3>Message :</h3>
<p>{{ contact.message }}</p>

